*{
    /* margin: 0%; */
    box-sizing: border-box;
    font-size: 32px;
}
h1{
    text-align: center;
    background-color: wheat;
    display: block;
}
p{
    text-align: left;
    font-size: 0.5em;
    color: blue;
    font-style: italic;
    border-top: blue solid 1px;
    border-bottom: blue solid 1px;
}