*{
    /* margin: 0%; */
    box-sizing: border-box;
}
h1{
    text-align: center;
    background-color: wheat;
    display: block;
}
p{
    text-align: left;
    color: blue;
    font-style: italic;
    border-top: blue solid;
    border-bottom: blue solid;
}