*{
    font-size: 36px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    max-height: 100%;
    margin: 1%;
}
p{
    font-size: 0.5em;
}
html, body{
    width: 100%;
    height: 100%;
}
.container{
    background-color: grey;
    width: 90%;
    height: 150%;
    margin: auto;
}
.botones{

}
.botones button{
    margin: 0%;
    width: 15%;
    float: left;
    background-color: grey;
    margin-bottom: 3%;
    padding: 1%;
    font-weight: 400;
    font-size: 0.4em;
    border: none 15px;
    background-color: rgb(103, 103, 212);
}
.botones button:hover{
    background: blue;
    color: white;
    cursor: pointer;
}
.botones button:active{
    background-color: yellow;
    color: black;
}
.fomulario input{
    width: 20%;
    display: block;
}
.fomulario input:focus{
    background-color: rgb(181, 181, 157);
    border: 3px solid black;
    border-radius: 15px;
}
h2{
    margin-top: 2%;
}
.imagenes img{
    max-width: 20%;
    margin: 0%;
    float: left;
    border: 1px solid black;
    transition: 2s;
}
.imagenes img:active{
    max-width: 50%;
    transition: 1s;
    animation: rotate 3s linear infinite;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.clear{
    clear: both;
}