* {
  /* margin: 0%; */
  /* box-sizing: border-box; */
  font-size: 32px;
}
h1{
  font-size: 1em;
}
.txt1{
  background-color: aqua;
  width: 50%;
  margin: auto;
}
.txt1 p{
  font-size: 0.5em;
  margin: 0;
}

.txt2{
  background-color: green;
  width: 50%;
  padding-left: 3%;
  padding-right: 3%;
  margin: auto;
  box-sizing: none;
}
.txt2 p{
  font-size: 0.5em;
  margin: auto;
}

.txt3{
  background-color: rgb(97, 214, 97);
  width: 50%;
  margin: auto;
  padding-left: 16%;
  padding-right: 16%;
  box-sizing: border-box;
}
.txt3 p{
  font-size: 0.5em;
  margin: auto;
}